Taller3_AutomatizacionN8N/Cotizacion_Agent.json
{
  "name": "Cotizacion_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "eres un agente encargado de hacer cotizaciones recibiras la informacion de un paquete de viajes y la cantidad de personas que iran , debes generar una cotizacion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        480,
        340
      ],
      "id": "1f828f1f-2977-42c1-8b12-db432c4d35e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        560
      ],
      "id": "72f3576f-bcf9-4b52-9459-940dc8b86a30",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FxdcVBCYs9FqNrCM",
          "name": "OpenAi(Miguel)"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        580,
        560
      ],
      "id": "0195570c-d4cf-4861-8d6f-4b955436cb4e",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "322d57e9-c013-4163-b012-75d75987485b",
              "name": "respuesta",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        340
      ],
      "id": "3c489786-84d3-43aa-b53d-32abf7b5b230",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "3) Paquete con hotel RADISSON BLUE a 3,689,000 COP por persona, incluye tiquetes aéreos, traslados In - Out, alojamiento 3 noches y asistencia médica para 4 personas"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5c5201f-6a7c-4d16-aed2-b01fd1def56d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11326779c1917fe3a3bbcf263cc8e023ac4091f714ca01348b21aa1163946633"
  },
  "id": "5OpwqHpKydGr20bI",
  "tags": []
}