Taller3_AutomatizacionN8N/Miguel_Daniel_agente.json
{
  "name": "Miguel_Daniel_agente",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -560,
        460
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -260,
        680
      ],
      "id": "62e9d837-30cc-4ff7-a2bb-1fde889a2666",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -380,
        680
      ],
      "id": "22c38df6-9466-4c3b-a65c-85e4a09603bf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FxdcVBCYs9FqNrCM",
          "name": "OpenAi(Miguel)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.conversation }}",
        "options": {
          "systemMessage": "=Eres un asistente virtual especializado en ventas para Sellmoretrips.IA. Tu tarea es ayudar a los agentes de ventas a cerrar más rápido sus ventas de paquetes de viaje. Siempre respondes en el mismo idioma que use el usuario.\n\nTu objetivo principal es identificar correctamente qué herramienta usar según la necesidad del usuario y solicitar únicamente la información necesaria para usar dicha herramienta. No debes hacer suposiciones ni pedir datos innecesarios. Una vez tengas la información requerida, llama a la herramienta correspondiente y devuelve la respuesta en el formato indicado más abajo.\n\n🛠 HERRAMIENTAS DISPONIBLES:\n\nPaquetes_Agent\nÚsala cuando el usuario pida un paquete de viajes.\nSolicita:\n\nDestino (ciudad. debes enviarla en MAYUSCULA y sin tildes)\n\nFecha de salida (puede ser una fecha específica o solo el mes, debes enviarle a la tool esta informacion en formato de fecha 2025-MM-DD) \n\nFlujo:\n\nSolicita destino y fecha de salida.\n\nLlama a la herramienta con esos datos y muestra los paquetes encontrados con TODA la informacion de estos tambien todo lo que incluyen.\n\ndenes pedirle al usuario que elija un paquete para hacer la cotizacion el usuario elige un paquete, debes llamar a la tool Cotizacion_Agent , recuerda que debes guardar la informacion sobre el paquete escogido para enviarla a la tool cotizaciones_agent\n\n*******Cotizacion_Agent********\n\nA esta tool le debes enviar TODA la informacion del paquete escogido por el usuario\n\nejemplo:3) Paquete con hotel RADISSON BLUE a 3,689,000 COP por persona, incluye tiquetes aéreos, traslados In - Out, alojamiento 3 noches y asistencia médica\n\ntambien debes enviarle la cantidad de personas que viajaran (la cantidad de personas preguntasela al usuario antes de usar la tool)\n\n📤 FORMATO DE RESPUESTA OBLIGATORIO:\n\nSIEMPRE responde con un JSON plano con la siguiente estructura EXACTA:\n\njson\nCopiar\nEditar\n{\n  \"respuesta\": \"Texto que se mostrará al usuario...\",\n  \"urls\": [\n    \"https://ejemplo.com/una-url\",\n    \"https://otro-ejemplo.com/otra-url\"\n  ],\n  \"tool\": \"NombreDeLaToolUsada\"\n}\nReglas importantes:\n\nEl campo \"respuesta\" debe contener el mensaje para el usuario.\n\nEl campo \"urls\" debe contener los enlaces generados por la herramienta o \"\" si no hay ninguno.\n\nEl campo \"tool\" debe contener el nombre de la herramienta utilizada o \"\" si no se usó ninguna.\n\nNo uses listas, markdown, tablas ni otros formatos.\n\nNo uses null. Usa \"\" si no hay contenido.\n\nNo improvises ni asumas funciones que no estén definidas.\n\nTu única prioridad es ayudar al usuario a cerrar la venta lo más rápido posible, guiándolo paso a paso, solicitando solo lo necesario, usando la herramienta correcta y respondiendo siempre en el formato JSON indicado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -220,
        460
      ],
      "id": "775f0aed-1757-485f-91ef-860367ade282",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output;\n\n// Limpiar prefijo \"json\\n\" si está presente\nconst cleanedOutput = rawOutput.trim().replace(/^json\\s*/, '');\n\n// Primer parseo\nlet firstParsed;\ntry {\n  firstParsed = JSON.parse(cleanedOutput);\n} catch (e) {\n  throw new Error(\"No se pudo hacer el primer parseo del output. Contenido: \" + rawOutput);\n}\n\n// Extraer campos\nconst mensaje = firstParsed.respuesta || '';\nconst tool = firstParsed.tool || null;\nconst urlFromField = firstParsed.url || null;\n\n// Extraer todas las URLs desde el mensaje (texto)\nconst urlRegex = /(https?:\\/\\/[^\\s\\)\\]]+)/g;\nconst urlsInText = mensaje.match(urlRegex) || [];\n\n// Incluir la del campo si no está repetida\nif (urlFromField && !urlsInText.includes(urlFromField)) {\n  urlsInText.push(urlFromField);\n}\n\n// Eliminar URLs del texto\nlet textoSinUrl = mensaje;\nurlsInText.forEach(url => {\n  textoSinUrl = textoSinUrl.replace(url, '').trim();\n});\n\n// Resultado final\nreturn [\n  {\n    json: {\n      texto: textoSinUrl,\n      urls: urlsInText,  // lista de todas las URLs\n      tool: tool\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        460
      ],
      "id": "2f524f84-c535-4e7a-881d-f6e8d04d87a6",
      "name": "Code1"
    },
    {
      "parameters": {
        "toolDescription": "tool para buscar paquetes de viaje",
        "method": "POST",
        "url": "https://ddupgdhkodsyhjkwgwcy.supabase.co/rest/v1/rpc/obtener_paquetes_por_fecha_y_destino",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkdXBnZGhrb2RzeWhqa3dnd2N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjU3NjYsImV4cCI6MjA1OTg0MTc2Nn0.UcQJk0xHiZwlek0DKP40Ihx6WspPAEZv7a24j5R2W6U"
            },
            {
              "name": "Autentication",
              "valueProvider": "fieldValue",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkdXBnZGhrb2RzeWhqa3dnd2N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjU3NjYsImV4cCI6MjA1OTg0MTc2Nn0.UcQJk0xHiZwlek0DKP40Ihx6WspPAEZv7a24j5R2W6U"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "fecha_usuario"
            },
            {
              "name": "destino_input",
              "valueProvider": "modelOptional"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        160,
        880
      ],
      "id": "13dec1c5-43f4-49c1-a71c-86ccdc27e8ef",
      "name": "Paquetes_Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').all()[0].json.url_server }}/message/sendText/{{ $('When Executed by Another Workflow').all()[0].json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('When Executed by Another Workflow').all()[0].json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('When Executed by Another Workflow').all()[0].json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.texto }}"
            },
            {
              "name": "delay",
              "value": "={{ 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        460
      ],
      "id": "bed1a95f-7fc1-47c1-b592-4e2268ada817",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "name": "Cotizacion",
        "workflowId": {
          "__rl": true,
          "value": "5OpwqHpKydGr20bI",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        500,
        960
      ],
      "id": "23b9dbe8-e9b1-457b-bf02-5c13bf30792c",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chat_id": "573105143378@s.whatsapp.net",
          "instance_name": "sellmore_test",
          "apikey": "74AE4E0716A9-4906-A547-B0ADBF6EB11A",
          "url_server": "https://elder-link-staging-evolution-api.fwoasm.easypanel.host",
          "conversation": "Me interesa ir a aruba para el 20 de junio",
          "senderTimestamp": "1749004522",
          "recipentTimestamp": "1749171253",
          "phone": "573105143378",
          "seller_name": null,
          "seller_id": "1"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paquetes_Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a842764c-a7aa-406c-b58f-893305f31d2c",
  "meta": {
    "instanceId": "11326779c1917fe3a3bbcf263cc8e023ac4091f714ca01348b21aa1163946633"
  },
  "id": "cBPM19tv8K6i1m4p",
  "tags": [
    {
      "createdAt": "2025-05-14T02:52:13.085Z",
      "updatedAt": "2025-05-14T02:52:13.085Z",
      "id": "LOPlCwCvPYCJzvg9",
      "name": "miguel"
    }
  ]
}